$tabs-boxed-link-active-background-color: hsl(229, 53%, 53%);
$tabs-link-active-color: #fff;

.tabs {
    li {
        &.is-active {
            a {
                color: $tabs-link-active-color
            }
        }
    }

    &.is-boxed {
        li {
            &.is-active {
                a {
                    background-color: $tabs-boxed-link-active-background-color;
                }
            }
        }
    }

    .fade-in {
        animation: fadeIn;
        animation-duration: 500ms;
    }

    .fade-out {
        animation: fadeOut;
        animation-duration: 500ms;
    }
}

.notification-area {
    position: fixed;
    top: 80px;
    right: 10px;
    max-width: 300px;

    .default-style {
        position: relative;
        display: flex;
        width: 260px;
    }

    .right-in {
        animation: fadeInRight;
        animation-duration: 500ms;
    }

    .right-out {
        animation: fadeOutRight;
        animation-duration: 500ms;
    }
}